<a href="https://colab.research.google.com/github/AadilDevKollege/Data_Pipe_line/blob/Data_Pipeline/Data_Pipeline.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [27]:
import pandas as pd
import os

sheet_url="https://docs.google.com/spreadsheets/d/e/2PACX-1vQ2znNEQY4IpmKjvx93SKEGhhgsIirh3nZQC2hfT1tGsaUHDAxOBZw_rm398sYERYSM0HQ8KSKIbIU_/pub?gid=0&single=true&output=csv"
df = pd.read_csv(sheet_url)
# Convert first row to header
df.columns = df.iloc[0]  # Set the first row as column names
df = df[1:].reset_index(drop=True)  # Remove the first row and reset index

data = pd.DataFrame(df)
info=selected_columns = data.iloc[:, [1, 2,3,4,5,6,10,11,12,13,14,15,16,17,18,19]]
admission=selected_columns = data.iloc[:, [1, 2,3,4,5,6,10,11,12,20,21,22,23,24,25,26]]
course=selected_columns = data.iloc[:, [1, 2,3,4,5,6,10,11,12,27,28,29,30,31,32,33]]
ranking=selected_columns = data.iloc[:, [1, 2,3,4,5,6,10,11,12,34,35,36,37,38,39,40]]
placement=selected_columns = data.iloc[:, [1, 2,3,4,5,6,10,11,12,41,42,43,44,45,46,47]]
scholarship=selected_columns = data.iloc[:, [1, 2,3,4,5,6,10,11,12,48,49,50,51,52,53,54]]

# Append multiple DataFrames
master_data = pd.concat([info, admission, course,ranking,placement,scholarship], ignore_index=True)

# Create the directory if it doesn't exist
save_path = '/content/drive/My Drive/PowerBI_Auto/transformed_data.csv'
os.makedirs(os.path.dirname(save_path), exist_ok=True)

# Now save the file
master_data.to_csv(save_path, index=False)
print("CSV saved successfully in Google Drive")

CSV saved successfully in Google Drive

0    College_ID                                       College_Name  \
0       7000208        Government College of Engineering, Amravati
1       7000215       Government College of Engineering Aurangabad
2       7000227          Government College of Engineering, Nagpur
3       7000302             Government College of Technology (GCT)
4       7000839        Government Engineering College, Barton Hill
...         ...                                                ...
4644    7013515      Malla Reddy University - Powered by Emversity
4645    7030059        Arka Jain University - Powered by Emversity
4646    7042037  Yenepoya (Deemed-to-be University) Bangalore -...
4647    7050771                                Emversity Bangalore
4648    7033914  Centre for Distance and Online Education (CDOE...

0                City_Name            Location       Stream  \
0                 Amravati            Amravati   Technology
1               Aurangabad          Aurangabad  Engineering
2                   Nagpur              Nagpur  Engineering
3               Coimbatore          Coimbatore  Engineering
4       Thiruvananthapuram  Thiruvananthapuram  Engineering
...                    ...                 ...          ...
4644  Hyderabad, Telangana                 NaN          NaN
4645             Bangalore                 NaN          NaN
4646             Bangalore                 NaN          NaN
4647                   NaN                 NaN          NaN
4648                   NaN                 NaN          NaN

0       Type_of_College is_university  \
0     Public/Government         FALSE
1     Public/Government         FALSE
2     Public/Government         FALSE
3     Public/Government         FALSE
4     Public/Government         FALSE
...                 ...           ...
4644                NaN           NaN
4645                NaN           NaN
4646                NaN           NaN
4647                NaN           NaN
4648                NaN           NaN

0                                              Kapp_Url College Status  \
0     https://www.kollegeapply.com/colleges/governme...           Live
1     https://www.kollegeapply.com/colleges/governme...           Live
2     https://www.kollegeapply.com/colleges/governme...           Live
3     https://www.kollegeapply.com/colleges/governme...           Live
4     https://www.kollegeapply.com/colleges/governme...           Live
...                                                 ...            ...
4644  https://www.kollegeapply.com/colleges/malla-re...  To be created
4645  https://www.kollegeapply.com/colleges/arka-jai...  To be created
4646  https://www.kollegeapply.com/colleges/yenepoya...  To be created
4647  https://www.kollegeapply.com/colleges/emversit...            NaN
4648  https://www.kollegeapply.com/colleges/emversit...            NaN

0       Status Assigned To Assigned On Submitted On Doc Link Published By  \
0     Uploaded         NaN         NaN          NaN      NaN          NaN
1     Uploaded         NaN         NaN          NaN      NaN          NaN
2     Uploaded         NaN         NaN          NaN      NaN       Yogesh
3     Uploaded         NaN         NaN          NaN      NaN        Mohit
4     Uploaded         NaN         NaN          NaN      NaN          NaN
...        ...         ...         ...          ...      ...          ...
4644       NaN         NaN         NaN          NaN      NaN          NaN
4645       NaN         NaN         NaN          NaN      NaN          NaN
4646       NaN         NaN         NaN          NaN      NaN          NaN
4647       NaN         NaN         NaN          NaN      NaN          NaN
4648       NaN         NaN         NaN          NaN      NaN          NaN

0    Published On Status
0             NaN     NaN
1             NaN     NaN
2     20-Dec-2024     NaN
3      4-Dec-2024     NaN
4             NaN     NaN
...           ...     ...
4644          NaN     NaN
4645          NaN     NaN
4646          NaN     NaN
4647          NaN     NaN
4648          NaN     NaN

[27894 rows x 17 columns]